@model Toph.UI.Models.InvoicesInvoiceModel

<article class="line" style="border-top: dotted 1px #ccc; margin-bottom: 50px;">

    <header class="line">
        <div class="unit size2of3">
            @if (Model.InvoiceCustomer == null)
            {
                <em>customer not set</em>
            }
            else
            {
                <text>
                @Model.InvoiceCustomer.Name <br />
                @Model.InvoiceCustomer.Address.Line1 <br />
                @Model.InvoiceCustomer.Address.City, @Model.InvoiceCustomer.Address.State @Model.InvoiceCustomer.Address.PostalCode
                </text>
            }
        </div>
        <div class="unit size1of3" style="text-align: right;">
            Invoice Date: @Model.InvoiceDate <br />
            Invoice Number: @Model.InvoiceNumber
        </div>
    </header>

    <section class="line" style="font-size: .85em; margin-top: 15px;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lineItem in Model.InvoiceLineItems)
                {
                    <tr>
                        <td style="white-space: nowrap;">@lineItem.LineItemDate</td>
                        <td style="width: 99%;">@lineItem.Description</td>
                        <td style="white-space: nowrap;">@lineItem.Quantity</td>
                        <td style="white-space: nowrap;">@lineItem.Price</td>
                        <td style="white-space: nowrap;">@lineItem.LineItemTotal</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr style="font-weight: bold;">
                    <td colspan="4">
                        <div class="line">
                            <div class="unit size3of4">
                                <a href="#addLine" class="addLine">Add Line Item</a>
                            </div>
                            <div class="unit size1of4" style="text-align: right;">
                                Grand Total:
                            </div>
                        </div>
                    </td>
                    <td>
                        @Model.InvoiceTotal
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>

</article>
