@model Toph.UI.Models.InvoicesInvoiceModel.LineItem[]

@foreach (var lineItem in Model)
{
    <tr data-lineitemid="@lineItem.LineItemId">
        <td>@lineItem.LineItemDate</td>
        <td style="width: 99%;">@lineItem.Description</td>
        <td>@lineItem.Quantity</td>
        <td>@lineItem.Price</td>
        <td>@lineItem.LineItemTotal</td>
    </tr>
}
