@model Toph.UI.Models.InvoicesInvoiceModel

<article class="line" style="border-top: dotted 1px #ccc; margin-bottom: 50px;" data-invoiceid="@Model.InvoiceId">

    <header class="line">
        <div class="unit size2of3">
            <div class="editable customer">
                @if (Model.InvoiceCustomer == null)
                {
                    <em>customer not set</em>
                }
                else
                {
                    Html.RenderPartial("_InvoiceCustomer", Model.InvoiceCustomer);
                }
            </div>
        </div>
        <div class="unit size1of3" style="text-align: right;">
            Invoice Date: <span class="editable invoice-date">@Model.InvoiceDate</span> <br />
            Invoice Number: <span class="editable invoice-date">@Model.InvoiceNumber</span>
        </div>
    </header>

    <section class="line spaced" style="font-size: .85em;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="white-space: nowrap;">Date</th>
                    <th style="width: 99%;">Description</th>
                    <th style="white-space: nowrap;">Quantity</th>
                    <th style="white-space: nowrap;">Amount</th>
                    <th style="white-space: nowrap;">Total</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_InvoiceLineItems", Model.InvoiceLineItems)
            </tbody>
            <tfoot>
                <tr style="font-weight: bold;">
                    <td colspan="4">
                        <div class="line">
                            <div class="unit size3of4">
                                <p>
                                    <a href="#addLine">Add Line Item</a> <br />
                                    <a href="#printInvoice">Print Invoice</a>
                                </p>
                                <p>
                                    <a href="#deleteInvoice">Delete Invoice</a>
                                </p>
                            </div>
                            <div class="unit size1of4" style="text-align: right;">
                                Grand Total:
                            </div>
                        </div>
                    </td>
                    <td>
                        @Model.InvoiceTotal
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>

</article>
