@model Toph.UI.Models.InvoicesInvoiceModel.Customer

@using (Html.BeginForm())
{
    <ol>
        <li>@Html.EditorFor(x => x.Name)</li>
        <li>@Html.EditorFor(x => x.Address.Line1)</li>
        <li>@Html.EditorFor(x => x.Address.Line2)</li>
        <li>@Html.EditorFor(x => x.Address.City)</li>
        <li>@Html.EditorFor(x => x.Address.State)</li>
        <li>@Html.EditorFor(x => x.Address.PostalCode)</li>
    </ol>

    @Html.ValidationSummary()
}
