@model Toph.UI.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.Title</h1>
<h2>Associate your @ViewBag.ProviderDisplayName account</h2>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ReturnUrl = ViewBag.ReturnUrl}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ExternalLoginData)

    <p>
        You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
        Please enter a username for this site below and click the Register button to finish
        logging in.
    </p>

    <ol>
        <li>@Html.EditorFor(m => m.Username)</li>
    </ol>

    <input type="submit" value="Register" />

    @Html.ValidationSummary(true)
}
