@model Toph.UI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<h1>@ViewBag.Title</h1>

<p>@ViewBag.StatusMessage</p>

<div class="line">
    @using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        <p>
            You're signed in as <strong>@User.Identity.Name</strong>.
            <a href="#sign-out" onclick="$(this).parents('form:first').submit(); return false;">sign out</a>
        </p>
    }

    @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
</div>


<div class="line spaced">
    @Html.Action("RemoveExternalLogins")
</div>


<div class="line spaced">
    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new {ViewBag.ReturnUrl})
</div>
