<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

        <title>@ViewBag.Title - @App["name"]</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <header class="ui-helper-clearfix first-body-section bg-white">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(@App["name"] as string, "Index", "Home")</p>
                </div>

                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="ui-helper-clearfix last-body-section bg-light">
            @if (IsSectionDefined("featured"))
            {
                <div class="featured-content bg-white">
                    <section class="content-wrapper">
                        @RenderSection("featured", required: false)
                    </section>
                </div>
            }

            <section class="ui-helper-clearfix content-wrapper main-content">
                @RenderBody()
            </section>
        </div>

        <footer class="ui-helper-clearfix footer-height bg-dark font-small">
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @App["name"] | <a href="@App["versionUrl"]" target="_blank">Version @App["version"]</a></p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
