<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <title>@(ViewBag.HeaderTitle ?? ViewBag.Title) - @App["name"]</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <section id="pg-header">
            <div id="pg-header-inner" class="line pg-inner">
                <header class="line">
                    <h2>@Html.ActionLink(App["name"] as string, "Index", "Home")</h2>
                </header>
                <nav class="line">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@(Request.IsAuthenticated ? Html.ActionLink("My Account", "Manage", "Account") : Html.ActionLink("Sign in", "Login", "Account"))</li>
                    </ul>
                </nav>
                <footer class="line">
                    <p>
                        &copy; @DateTime.Now.Year - @App["name"] | <span title="Version">v. <a href="@App["versionUrl"]" target="_blank">@App["version"]</a></span>
                    </p>
                </footer>
            </div>
        </section>

        <section id="pg-content">
            <div id="pg-content-inner" class="line pg-inner">
                @Html.AntiForgeryToken()

                @* hack to preload the spinning gif *@
                <div class="loading" style="position: absolute; top: -1000px; width: 1px;"></div>

                <div class="line">
                    @RenderBody()
                </div>
            </div>
        </section>

        @Scripts.Render("~/bundles/common")

        <script type="text/javascript">
            app.webroot = '@Url.Content("~/")';
        </script>

        @RenderSection("scripts", required: false)

    </body>
</html>
